body, html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

@font-face {
	font-family: 'Rye', cursive;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center p {
	color: white;
	font-size: 5vw;
	text-align: center;
}

.tryAgain {
	display: none;
}

#winScreen p{
	font-size: 13vw;
}

#loseScreen p{
	font-size: 13vw;
}

#roomCode {
	font-size: 8vw;
}

#waitText {
	font-size: 3vw;
}

.dot {
	animation-name: grow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#yeetMode {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	color: white;
	text-align: center;
	font-size: 5vw;
}

.hide {
	display: none!important;
}

.show {
	display: block!important;
}

@keyframes grow {
	0% {font-size: 5vw;}
	50% {font-size: 8vw;}
	100% {font-size: 5vw;}
}

